nav {
  background-color: black;
  border-bottom: 5px solid red;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.important1
    color: white;
    font-size: 24px;
.nav li {
  margin: 0 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
}

.nav a:hover {
  background-color: #333;
  border-radius: 8px;
}


@media (max-width: 800px) {
  .responsive-paragraph {
    color: green;
    background-color: black;
    border: 2px solid green;
    padding: 10px;
  }
}

@media (min-width: 801px) {
  .responsive-paragraph {
    color: purple;
    background-color: pink;
    border: 2px solid purple;
    padding: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.grid-item {
  border: 20px solid red;
  background-color: white;
  text-align: center;
  padding: 40px;
  font-size: 24px;
  font-weight: bold;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px auto;
  max-width: 1200px;
}

.photo-gallery img {
  flex: 1 1 300px; 
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border: 5px solid #222;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.photo-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
